
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>
<h2>This is the Register</h2>
<form method="post" enctype="multipart/form-data">
    <div class="form-group">StudentId</div>
    <div><input type="number" name="studentid" class="form-control" /></div>
    <div class="form-group">FirstName</div>
    <div><input type="text" name="firstname" class="form-control" /></div>
    <div class="form-group">LastName</div>
    <div><input type="text" name="lastname" class="form-control" /></div>
    <div class=" form-group">MatricNo</div>

    <div><input type="text" name="matricno" class="form-control" /></div>
    <div class="form-group">SchoolFees</div>
    <div><input type="text" name="matricno" class="form-control" /></div>
    <div class="form-group">AmountPaid</div>
    <div>
        <select name="schoolfees">
            <option value="1">Paid</option>
            <option value="2">NotPaid</option>
        </select>
    </div>
    <div class="form-group">Unitype</div>
    <div>
        <select name="unitype">
            <option value="1">Private</option>
            <option value="2">State</option>
            <option value="3">Federal</option>
        </select>
    </div>

    <div>
        <select name="AmountPaid">
            <option value="Enter Amount"></option>
        </select>
    </div>
    <div>@ViewBag.ErrorMessage</div>
    <div><button type="submit" class="btn-success">Submit Here</button></div>

</form>

